
/* todo: fix the css on the images, for coffee bean one its too thick it covers it */
body{
    background-image: linear-gradient(#D7C8EC, #B8A1D8);
    background-repeat: no-repeat;
    height: 100vh;
}

img{
    height: 600px;
    width: auto;
    border: 1px white solid;
    border-radius: 15px;
    position: relative;
    top: 100px;
    box-shadow: 0 0 5px black;
    transition-duration:1000ms ;
}

#imageHolder{
    display: flex;
    justify-content: center;
}

.buttons{
    background: none;
    border: none; 
    
    
}

#buttonPrev{
    color: black;
    position: absolute;
    left: 600px;
    font-size: 40px;
    font-style: italic;
   
}

#buttonNext{
    color: black;
    position: absolute;
    right: 600px;
    font-size: 40px;
    
    
}
.buttons:hover{
    box-shadow: 0 0 5px #A3D6E8;
    border: #A3D6E8 1px solid;
}

#locationDiv{
    position: absolute;
    right: 50%;
    bottom: 160px;
    font-size: 25px;
}

.imgBtnClass{
    border-radius: 50%;
    border:none;
    position: relative;
    height: 15px;
    width: 15px;
    box-shadow: 0 0 5px black;
    background: #E7BCDE;
}

#imgWrap{
    display: flex;
    justify-content: center;
    margin-top: 12vh;
}

#imgWrap > button{
    margin-left: 3px;
}

.imgBtnClass:hover{
    border: #F0ECE5 1px solid;
    box-shadow: 0 0 5px #F0ECE5;
}
/** Theres issues with css and js conflicting bc transitions don't work at all */